<%- include("templates/encabezado") %>
<h1 class="Inicio">Usuarios Activos</h1>
<h1 class="Inicio">Nombre: <%= nombre %></h1>
<h1 class="Inicio">Celular: <%= celular %></h1>
<h1 class="Inicio">Correo: <%= correo %></h1>
<%- include("templates/pie") %>